<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bbs club</title>
    <!--<link rel="stylesheet" href="/static/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/static/css/style.css">
    <!--<link rel="stylesheet" href="/static/lib/editor/editor.css">-->
    <!--<link rel="stylesheet" href="/static/lib/webuploader/webuploader.css">-->
    <!--<script src="/static/lib/jquery-3.0.0.min.js"></script>-->
    <!--<script src="/static/lib/markdownit.js"></script>-->
    <!--<script src="/static/lib/webuploader/webuploader.withoutimage.js"></script>-->
    <!--<script src="/static/lib/editor/editor.js"></script>-->
    <!--<script src="/static/lib/editor/ext.js"></script>-->
</head>
<body>
    <div id="main">
        <div id="sidebar">
            <div class="panel">
                <div class="inner">
                    <a href="{{ url_for('422_topic.new') }}" class="create_topic_btn">
                        <span class="span-success">发布话题xxxxxxxxxxxxxxxx</span>
                    </a>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="panel">
                <div class="inner post">
                    <div class="topic_list">
                        {% for t in ms %}
                        <div class="cell">
                            <div class="topic_title_wrapper">
                                <a class="topic_title" href="{{ url_for('422_topic.detail', id=t.id) }}">
                                    {{ t.title }}
                                </a>
                                <span>{{ t.replies() | count }} / {{ t.views }}</span>
                                {# count(t.replies()) #}
                                {# <span>{{ t.reply_count() }} / {{ t.views }}</span> #}
                                {#len(Reply.all(topic_id=t.id))#}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!--<script src="/static/js/test.js"></script>-->
</html>